.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.shipping-header{
  font-size: 50px
}

.form-label{
  text-align:  left;
}

.error-message{
  /* display: block; */
  text-align:  center;
}

.paginator{
  /* display: block; */
  text-align:  center;
}